<!-- <footer class="footer">
    <div class="container">
        <span class=" small text-muted"></span>
    </div>
</footer> -->
<br>
<div class="container">
    <div class="row">   
        <div class="col-12">
            <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        
                            All Rights Reserved 2020 Global Auto Inc,U.S.A.
                        
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>