<div class="row">
<div class="col-4"></div>
<div class="col-4">
    <div class="card">       
        <div class="card-body">
            <h5 class="card-title"> Login to App</h5>
            <div class="form-group">
                <label for="InputEmail1">Username</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter username" [(ngModel)]="username">
                    <small id="emailHelp" class="form-text alert-warning" *ngIf="invalidLogin">Invalid username or Password !!</small>
            </div>
            <div class="form-group">
                <label for="Password1">Password</label>
                <input type="password" class="form-control" id="Password1" placeholder="Password"
                    [(ngModel)]="password">
            </div>
            <div class="form-group">
                <button (click)=performLogin() class="btn btn-primary centre"> Login  </button>
            </div>
        </div>
    </div>
</div>
<div class="col-4"></div>
</div>